<h1>管理者ダッシュボード</h1>

<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">ユーザー数</h5>
        <p class="card-text"><%= @user_count %> 人</p>
        <%= link_to 'ユーザー管理へ', admin_users_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">コメント数</h5>
        <p class="card-text"><%= @comment_count %> 件</p>
        <!-- コメント管理があればリンクを追加 -->
      </div>
    </div>
  </div>
</div>

