<%= render 'public/images/list', user: @user,image: @image %>

<h2>投稿一覧</h2>
 <table class="table">
  <thead>
   <tr>
    <th></th>
    <th>タイトル</th>
    <th>コメント数</th>
    <th colespan="3"></th>
   </tr>
  </thead>

  <tbody>
   <% @images.each do |image| %>
   <tr>
    <td><%= image_tag image.image.variant(resize_to_limit: [100, 100]).processed if image.image.attached? %></td>
    <td><%= link_to image.title, image_path(image.id) %></td>
    <td><%= link_to "#{image.post_comments.count} コメント", image_path(image.id) %></td>
   </tr>
   <% end %>
  </tbody>
 </table>